body {
  background-image: linear-gradient(to right, #9796f0, #fbc7d4);
}

.Appdiv {
  width: 100%;
  background-color: white;
  height: 50px;
}
.btn1 {
  height: 40px;
  width: 100px;
  border-radius: 50px;
}
.col2 {
  background-image: linear-gradient(to right, red, yellow);
  color: white;
  border: none;
}
.col1 {
  border: none;
}
.btndiv4 {
  background-image: linear-gradient(to right, red, yellow);
  border-radius: 48px;
  width: 102px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
